[submodule "chocolate-doom"]
	path = chocolate-doom
	url = https://github.com/chocolate-doom/chocolate-doom.git
[submodule "crispy-doom"]
	path = crispy-doom
	url = https://github.com/fabiangreffrath/crispy-doom.git
